@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7e59d9;
  --secondary: #454444;
  --primary-foreground: #0a142f;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --font-sourceCodePro: var(--font-sourceCodePro);
  --font-ebGaramond: var(--font-ebGaramond);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .padding {
    @apply px-5 py-[40px] md:px-[80px] md:py-[70px];
  }
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.slick-slide > div {
  margin: 0 10px !important;
}

.thumbnail::-webkit-scrollbar {
  width: 8px;
}

.thumbnail::-webkit-scrollbar-track,
.thumbnail2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.thumbnail::-webkit-scrollbar-thumb,
.thumbnail2::-webkit-scrollbar-thumb {
  background-color: #7e59d9;
  outline: 1px solid #f5f5f5;
  border-radius: 15px;
}
/* blinking animation cursor */
.animated-text::after {
  content: "|";
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
